[Unit]
Description=TrueVision (make run-no-audio)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
# Change this to your user (usually "pi")
User=pi
WorkingDirectory=/home/pi/Files/TrueVision
Environment=PYTHONUNBUFFERED=1
# If you use a venv, you can force it like:
# ExecStart=/usr/bin/make -C /home/pi/Files/TrueVision run-no-audio PY=/home/pi/Files/TrueVision/.venv/bin/python3
# If you're headless (no HDMI/X), install xvfb and use:
# ExecStart=/usr/bin/xvfb-run -a /usr/bin/make -C /home/pi/Files/TrueVision run-no-audio
ExecStart=/usr/bin/make -C /home/pi/Files/TrueVision run-no-audio
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
